---
interface Props {
  name?: string;
  label?: string;
  id?: string;
  required?: boolean;
  ariaLabel?: string;
}

const { name, label, id, required = false, ariaLabel } = Astro.props;
---

<div class="form-check">
  <input
    type="checkbox"
    class="form-check-input"
    name={name}
    id={id}
    required={required}
    aria-label={ariaLabel}
  />
  {
    label && (
      <label for={name} class="form-check-label">
        {label}
      </label>
    )
  }
</div>
