---
import logo from "../assets/images/logo.svg";
import usaFlag from "../assets/images/flags/usa.png";
import spaFlag from "../assets/images/flags/spa.png";
import rosieLogo from "../assets/images/logo-rosie.png";
import mmSpecs from "../assets/documents/mm-specs.pdf";
import facebookIcon from "../assets/images/social/facebook.png";
import instagramIcon from "../assets/images/social/instagram.png";
import youtubeIcon from "../assets/images/social/youtube.png";
import theknotIcon from "../assets/images/social/theknot.png";
import zolaIcon from "../assets/images/social/zola.png";
import linkedinIcon from "../assets/images/social/linkedin.webp";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
import { Image } from "@astrojs/image/components";

const currentYear = new Date().getFullYear();
const nextYear = currentYear + 1;
---

<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <a href="mailto:info@manhattanmanor.com" class="social-link">
          <i class="bi bi-envelope-fill"></i>
          <span> info@manhattanmanor.com</span>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a href="#find-us-section" class="social-link">
          <i class="bi bi-pin-map-fill"></i>
          <span>
            Manhattan Manor at Rosie O'Grady's <br />
            148 W 51st Street, New York, NY 10019<br />between 6th & 7th ave</span
          >
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a href="tel:2125822975" class="social-link">
          <i class="bi bi-phone"></i>
          <span>212 582 2975</span>
        </a>
        <a href="tel:2124899595" class="social-link">
          <span>212 489 9595</span>
        </a>
      </div>
      <div class="col-12 mt-4 text-center">
        <a href="#">{t("common.live-interaction")}</a>
        <br /><br />
        {t("footer.booking")}
        <br /><br />
        <a href="mailto:amanda@manhattanmanor.com"> Amanda Smith</a><br />
        <a href="mailto:amanda@manhattanmanor.com" class="text-dark">
          amanda@manhattanmanor.com</a
        ><br />
        <a href="tel:646-627-4329" class="text-dark"> 646-627-4329</a>

        <Image
          src={logo}
          alt="Manhattan Manor Logo"
          class="logo"
          width={80}
          height={126}
        />

        <div class="mt-4">
          <a href="#">
            <Image
              src={usaFlag}
              alt="English"
              width={28}
              height={15}
              format="webp"
            />
          </a>
          <a href="#">
            <Image
              src={spaFlag}
              alt="Spanish"
              width={28}
              height={15}
              format="webp"
            />
          </a>
        </div>

        <div class="mt-4">
          <a
            href="https://rosieogradys.com/"
            rel="noopener noreferrer"
            target="_blank"
          >
            {t("footer.visit-our-sister-restaurant")}

            <Image
              src={rosieLogo}
              alt="Rosie O'Grady's"
              class="d-block mt-3 mx-auto"
              width={150}
              format="webp"
            />
          </a>
        </div>

        <a
          href="https://www.eventbrite.com/e/new-years-eve-party-and-ball-drop-live-in-times-square-at-rosie-ogradys-tickets-296357482207"
          class="mt-4 d-block text-center text-dark"
        >
          {t("common.celebrate-at")} Rosie O'Gradys <br />
          {t("common.nye.party")}
          <br />
          {t("ball-drop.title")}
          <br />
          Times Square <br />
          New York City <br />
          {currentYear}-{nextYear}
        </a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <a href={localizePath("/terms")}
          >{t("terms-of-use")} - {t("privacy-policy")}</a
        >
      </div>

      <div class="col-12 mt-4">
        <a href="https://wa.me/+16466274329" class="whatsapp">
          <i class="bi bi-whatsapp"></i>
          {t("common.chat-now")}
        </a>
      </div>
      <div class="col-12 mt-2">
        <a href={localizePath("/accessibility")}>{t("accessibility")}</a>
      </div>
      <div class="col-12 mt-4 social-icons">
        <a href="https://www.facebook.com/manhattanmanor" target="_blank">
          <Image
            src={facebookIcon}
            alt="Facebook"
            width={40}
            height={40}
            format="webp"
          />
        </a>
        <a href="https://www.instagram.com/manhattanmanor/" target="_blank">
          <Image
            src={instagramIcon}
            alt="Instagram"
            width={40}
            height={40}
            format="webp"
          />
        </a>
        <a href="https://www.youtube.com/@manhattanmanor" target="_blank">
          <Image
            src={youtubeIcon}
            alt="Youtube"
            width={40}
            height={40}
            format="webp"
          />
        </a>
      </div>
      <div class="col-12 mt-3 social-icons">
        <a
          href="https://www.zola.com/wedding-vendors/wedding-venues/manhattan-manor?utm_source=vendor&utm_medium=various&utm_content=badge"
          target="_blank"
        >
          <Image
            src={zolaIcon}
            alt="Zola"
            width={40}
            height={40}
            format="webp"
          />
        </a>
        <a
          href="https://www.theknot.com/marketplace/manhattan-club-nyc-new-york-ny-2012844"
          target="_blank"
        >
          <Image
            src={theknotIcon}
            alt="TheKnot"
            width={40}
            height={40}
            format="webp"
          />
        </a>
        <a
          href="https://www.linkedin.com/company/manhattan-manor-nyc/"
          target="_blank"
        >
          <Image
            src={linkedinIcon}
            alt="LinkedIn"
            width={40}
            height={40}
            format="webp"
          />
        </a>
      </div>
      <div class="col-12 text-center mt-4">
        {t("common.copyright")} © {currentYear} Manhattan Manor. {
          t("common.all-rights-reserved")
        }.
      </div>
      <div class="col-12 d-flex justify-content-center">
        <p
          class="text-center mt-4 text-dark"
          style="font-size: 10px; max-width: 800px;"
        >
          {t("footer.copyright-disclaimer")}
        </p>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @import "../assets/styles/_colors.scss";

  footer {
    padding: 2rem 0;
    color: black;
    text-align: center;

    .social-link {
      display: block;
      text-align: center;
      text-decoration: none;
      color: $gold;

      i {
        display: block;
        font-size: 1.5rem;
      }

      span {
        color: black;
      }
    }
    a {
      color: $gold;
      text-decoration: none;
    }

    .logo {
      width: 80px;
      display: block;
      margin: 0 auto;
      margin-top: 2rem;
    }

    .whatsapp {
      color: #25d366;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      img {
        width: 40px;
        margin: 0 0.5rem;
      }
    }
  }
</style>
