---
import instagramIcon from "../assets/images/social/instagram.png";
import { Trans } from "astro-i18next/components";
---

<section class="container mt-4" id="instagram-section">
  <div class="mt-3" data-aos="fade-up">
    <img src={instagramIcon} alt="Instagram icon" class="d-block mx-auto" />
    <h2 class="text-center">Instagram</h2>
    <p class="text-center">
      <Trans i18nKey="instagram.caption">
        Connect with us <a href="http://instagram.com/manhattanmanor"
          >@manhattanmanor</a
        > and send us your pictures to <a href="mailto:info@manhattanmanor.com"
          >info@manhattanmanor.com</a
        >
      </Trans>
    </p>
  </div>

  <div id="instafeed-container" class="row"></div>
</section>

<script is:inline src="/client-libraries/instafeed.min.js"></script>
<script>
  // @ts-ignore
  const userFeed = new Instafeed({
    get: "user",
    target: "instafeed-container",
    resolution: "thumbnail",
    accessToken: import.meta.env.PUBLIC_INSTAGRAM_ACCESS_TOKEN,
    template: `<div data-aos="fade-up" class="col-12 col-md-6 col-lg-4"><a href="{{link}}" target="_blank" id="{{id}}"><img class="p-2 img-fluid img-instafeed-entry" src="{{image}}" alt="Instagram post" title="{{caption}}" /></a></div>`,
    limit: 9,
  });
  userFeed.run();
</script>
